flask
dotenv
adobe
pdfservices-sdk
rasterio
geopy
faiss-cpu
sentence-transformers
together
google-cloud-speech
google-cloud-speech[v2]
google-cloud-translate
gtts
ffmpeg-python
pydub
flask-cors
google-generativeai
torch
torchvision
timm
Pillow